.App {
  height: 90vh;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.post-dashboard-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 2;
}

.post-stats-container{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  flex-grow: 2;
}